<div class="main">
  <div class="inner">
    <h1>Edit Prototype</h1>
      <%= render 'form', prototype: @prototype %>
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>